
body, html {
    width: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    background: white;
    width: 200%;
    height: 7%;
}

.headText {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    float: left;
    margin-top: 0.7%;
    margin-left: 1%;
}

.headLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 5%;
    margin-right: -3%;
    float: right;
}

.imgLogo {
    max-width: none;
    min-width: auto;
    min-height: auto;
    height: 100%;
    position: absolute;
}

.page {
    background: rgb(242, 243, 245);
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 1;
}

.main {
    background: white;
    margin: auto;
    margin-top: 5%;
    width: 5%;
    height: 5%;
    box-shadow: 0 1px 8px #33333333;
    width: 50%;
    height: 30%;
    z-index: 100;
}

.btLoadManual {
    background: rgb(0, 145, 220);
    font-family: "Trebuchet MS", cursive;
    font-weight: bold;
    font-size: 115%;
    color: black;
    width: 3%;
    float: right;
    height: 20%;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 0.5%;
    margin-right: 1%;
}

.choiseFile {
    max-width: 50%;
    max-height: 50%;
    text-align: center;
    margin: auto;
    margin-left: 37%;
    padding: 0.5%;
}

.example-1 .form-group {
    padding: 1em;
    margin: 1em
}
.example-1 input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none
}
.example-1 .label {
    width: 45%;
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 1.2em;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center
}
.example-1 .label i {
        display: block;
        font-size: 220%;
        padding-bottom: 20%;
    }
.example-1 .label i, .example-1 .label .title {
        color: grey;
        transition: 200ms color
    }
.example-1 .label:hover {
        border: 2px solid #000
    }
.example-1 .label:hover i, .example-1 .label:hover .title {
            color: #000
        }

.trainig {
    display: none;
    background: rgb(245, 245, 220);
}

.counters {
    max-width: 20%;
    max-height: 10%;
    text-align: center;
    margin-left: 1%;
    margin-top: -1%;
    border: 3px solid black;
    border-radius: 10px;
    display: none;
}

.controlPanel {
    max-width: 20%;
    max-height: 10%;
    text-align: center;
    margin-right: 5%;
    margin-top: 1%;
    float: right;
}

.btChangeMode {
    width: 100%;
    height: 20%;
    background: rgb(0, 145, 220);
    border-radius: 4px;
    color: white;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-size: 100%;
}

.inputField {
    margin-left: 40%;
}

input[type="text"] {
    margin-top: 1%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 50%;
    width: 40%;
    color: #cccccc;
    font-size: 110%;
    font-family: Tahoma;
    color: #000000;
    border: 1px solid #000000
}

.textEnter {
    color: black;
    font-size: 110%;
    font-family: Tahoma;
}

.btCheck {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 6%;
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-size: 110%;
    font-family: Tahoma;
    border-radius: 5px;
    width: 30%;
}


.origWord, .answer{
    font-family: "Trebuchet MS", cursive;
    font-size: 110%;
    font-weight: bold;
}


